# Fichiers htpasswd pour Mailpit
# Générer avec : htpasswd -cb auth/ui.htpasswd <user> <password>
# Ajouter un user : htpasswd -b auth/ui.htpasswd <user> <password>
#
# ui.htpasswd   → authentification Web UI & API
# smtp.htpasswd → authentification SMTP
#
# Exemple :
# lambda:$apr1$...
# admin:$apr1$...
